@model Models.Service.AdminServiceCreateMV



<form asp-action="Create" method="post">
    <div class="form-group">

    <label class="control-label col-md-2">Titre : </label>

        <div class="col-md-10">
            <input type="text" class="form-control" required asp-for="@Model.Titre" />
     </div>
     </div>
    Description : <textarea type="text" asp-for="@Model.Description" rows="10" ></textarea>



 
    <input type="submit" value="Save" />

</form>

<div>
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}


</div>

<script src="~/lib/jquery-1.10.2.min.js"></script>
<script src="~/lib/jquery.validate.min.js"></script>
<script src="~/lib/jquery.validate.unobtrusive.min.js"></script>