@model Models.Produit.AdminProduitAjouterVM

<div>@ViewData["Titre"]</div>



<form asp-controller="Produit"
asp-action="Create" 
method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label"> Nom : </label>
        @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label class="form-label"> Description :  </label>
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>


    <div class="mb-3">
        <label class="form-label"> Prix :  </label>
        
        <div class="input-group">
      
            <input type="text" asp-for="@Model.Prix" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            <span class="input-group-text">Dh</span>
            <span class="input-group-text">0.00</span>
        </div>
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>



    <div class="mb-3">

        <label class="form-label"> Categorie :  </label>

        <select asp-for="IdCategorie"
                asp-items="@(new SelectList(ViewBag.ListCate, "Id", "Nom"))" class="form-select form-select-sm" aria-label="Small select example">
        
        </select>
        <span asp-validation-for="IdCategorie" class="text-danger"></span>
    </div>


    
    <div class="mb-3">

        <label class="form-label"> Marque :  </label>

        <select asp-for="IdMarque"
                asp-items="@(new SelectList(ViewBag.ListMarque, "Id", "Nom"))" class="form-select form-select-sm" aria-label="Small select example">
  
    </select>
        <span asp-validation-for="IdMarque" class="text-danger"></span>

    </div>

    <input type="submit" value="Save" /> 
</form>