@model Models.Produit.AdminProduitAjouterVM

<div>@ViewData["Titre"]</div>



<form asp-controller="Produit" asp-action="Create" 
method="post">

    Nom : <input asp-for="@Model.Nom">

    <br />
    Description : <input asp-for="@Model.Description">
    <br />
    Prix : <input asp-for="@Model.Prix">
    <br />
    Categorie :
    <select asp-for="IdCategorie"
            asp-items="@(new SelectList(ViewBag.ListCate, "Id", "Nom"))">
            <option>Please select one</option>
    </select>

    Marque :
    <select asp-for="IdMarque"
            asp-items="@(new SelectList(ViewBag.ListMarque, "Id", "Nom"))">
        <option>Please select one</option>
    </select>

    <input type="submit" /> 
</form>